[submodule "frontend"]
	path = frontend
	url = https://github.com/abhishek-verma-7/exploreease_frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/abhishek-verma-7/ExploreEase_Backend.git
